.content-section-no-padding{
    background: #fafaf9;
}

.content-section{
    padding: 100px 0;
    background: #fafaf9;

    &.content-section-centered{
        text-align: center;
    }


    .content-section-no-padding{
        padding: -100px;
    }

    .image-section{
        background-image: url('../img/team-members.jpg');
        background-size: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
    }
    
    .content-section-side-image{
        display: flex;
        flex-direction: row;
        padding: 0;
        .content-section-side-image-content{
            flex-grow: 1;
            padding: 50px 0;
        }
        .content-section-side-image-container{
            width: 250px;
            min-height: 50px;
            background-size: cover;
            background-position: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@media only screen and (max-width: 576px){
    .content-section{
        //padding: 50px 20px;
        &.content-section-side-image{
            flex-direction: column;
            .content-section-side-image-container{
                padding: 0;
            }
        }
        
        .image-section{
            height: 200px;
        }

        .content-section-side-image-heading{
            text-align: center;
        }
    }
}