.dark-content{
    color: #fff;

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

.img-circle{
    border-radius: 50%;
}

.bg-primary{
    background: linear-gradient(93.04deg, #d4d104 -21.04%, #f21b18 147.44%);
}