.skillsets{
    .skillset{
        margin-top: 20px;
        margin-bottom: 15px;
        .skillset-heading{
            text-transform: uppercase;
            color: #797979;
            letter-spacing: 1.6px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
}